<div class="ui form segment">
  <h2>Constituency Information</h2>


<div class="ui form segment">
<h2>Get Searching</h2>
<div class="sixteen wide column">
<form role="form">
        <div class="form-group">
          <input type="text" class="form-control input-lg" id="consearch" placeholder="Type constituency name here...">
        </div>
</form>
</div>
</div>

<div class="ui form segment">
<div id="constituencyresults">Please search using the bar above</div>
</div>

<div class="ui divider"></div>
<div class="fields sixteen wide column">

	<div class="field six wide">
        	<input  type="text" placeholder="Discription" ng-model="constituency.heading">
    </div>
    <div class="field three wide">
        	<input  type="text" placeholder="EU Remain" ng-model="constituency.euremain">
    </div>
    <div class="field three wide">
        	<input  type="text" placeholder="EU Leave" ng-model="constituency.euleave">
    </div>
    <div class="field four wide">	
        	<checkbox ng-model="constituency.showheading" type="toggle">Heading</checkbox>
	</div>
</div>

</div>
<script>
$(window).load(function(){
        $('#consearch').keyup(function(){
            var searchField = $('#consearch').val();
            var regex = new RegExp(searchField, "i");
            var output = '<div class="four wide column">';
            var count = 1;
            $.getJSON('/data/data_dump.json', function(data) {
              $.each(data, function(key, val){
                if ((val.Const_Name.search(regex) != -1)) {
                  output += '<div class="ten wide field"><h2 style="color:' +val.Color + '">' + val.Const_Name + ' - ' + val.Winner15 +'</h2></div><div class="five wide field"><button class="ui green button" ng-click="ConstituencyThird(\''+ val.Const_ID +'\')">Show Constituency Overview</button></div>';
				  output += val.REGN + ', ' + val.Country;
				  output += '<strong> ' + val.Elect15 + '</strong> (' + val.Turnout15 +'%)';
                  output += '<p>' + val.Winner15 + ' Majority: ' + val.MAJ + '<br />';
                  output += (val.EUHANLEAVE * 100).toFixed(2) + '% Leave ';
                  output += (val.EUHANREM * 100).toFixed(2) + '% Remain</p>';
				  output += val.MP_Name;
                  count++;
                }
              });
              output += '</div>';
              $('#constituencyresults').html(output);
            }); 
        });
      });
</script>