<div class="ui form segment">
	 <div style="clear:both"> <h2 style="float: left; padding-right: 10px;">Constituency Information</h2>
				  <button class="ui green button" ng-click="show()">Show</button>
				<div class="ui red button" ng-click="hide()">Hide</div>
		 </div>
		 </div>
<div class="ui form segment">		 		 
	<div class="fields sixteen wide column">
			<div class="field eleven wide">			
				<input  type="text" id="conID" placeholder="Constituency ID" ng-model="constituency.conID">
			</div>
			<div class="field five wide">	
				<div class="ui purple button" ng-click="grabdata()" onClick="window.location.reload()">Get Latest Data</div>
			</div>	
	</div>
</div>


	<div class="ui form segment">
	<div class="fields sixteen wide column">
		<div class="field seven wide">
		<label>Constituency Name</label>
				<input  type="text" id="conName" placeholder="Constituency Name" ng-model="constituency.conName">
		</div>
		<div class="field four wide">
			<label>Result Description</label>
				<input  type="text" id="conDescription" placeholder="Description" ng-model="constituency.conDescription">
		</div>
		<div class="field two wide">
			<label>Turnout</label>
				<input  type="text" id="conTurnout" placeholder="Turnout" ng-model="constituency.conTurnout">
		</div>
		<div class="field two wide">
			<label>Majority</label>
				<input  type="text" id="conMajority" placeholder="Majority" ng-model="constituency.conMajority">
		</div>
	</div>
	<br />
	<div class="fields sixteen wide column">
		<div class="field four wide">
			<label>Party One Code</label>
				<input  id="conPartyOne" type="text" placeholder="Party One" ng-model="constituency.conPartyOne">
				<input  id="conPartyOneColor" type="hidden" ng-model="constituency.conPartyOneColor">
		</div>
		<div class="field four wide">
			<label>Party Two Code</label>
				<input  id="conPartyTwo" type="text" placeholder="Party Two" ng-model="constituency.conPartyTwo">
				<input  id="conPartyTwoColor" type="hidden" ng-model="constituency.conPartyTwoColor">
		</div>
		<div class="field four wide">
			<label>Party Three Code</label>
				<input  id="conPartyThree" type="text" placeholder="Party Three" ng-model="constituency.conPartyThree">
				<input  id="conPartyThreeColor" type="hidden" ng-model="constituency.conPartyThreeColor">
		</div>
		<div class="field four wide">
			<label>Party Four Code</label>
				<input  id="conPartyFour" type="text" placeholder="Party Four" ng-model="constituency.conPartyFour">
				<input  id="conPartyFourColor" type="hidden" ng-model="constituency.conPartyFourColor">
		</div>
	</div>
	<br />
	<div class="fields sixteen wide column">
		<div class="field four wide">
				<input  id="conPartyOneVotes" type="text" placeholder="Party one vote count" ng-model="constituency.conPartyOneVotes">
		</div>
		<div class="field four wide">
				<input  id="conPartyTwoVotes" type="text" placeholder="Party two vote count" ng-model="constituency.conPartyTwoVotes">
		</div>
		<div class="field four wide">
				<input  id="conPartyThreeVotes" type="text" placeholder="Party three vote count" ng-model="constituency.conPartyThreeVotes">
		</div>
		<div class="field four wide">
				<input  id="conPartyFourVotes" type="text" placeholder="Party one four count" ng-model="constituency.conPartyFourVotes">
		</div>
	</div>
	<br />
	<div class="fields sixteen wide column">
		<div class="field four wide">
				<input  id="conPartyOneVotes" type="text" placeholder="Candidate" ng-model="constituency.conPartyOneCandidate">
		</div>
		<div class="field four wide">
				<input  id="conPartyTwoVotes" type="text" placeholder="Candidate" ng-model="constituency.conPartyTwoCandidate">
		</div>
		<div class="field four wide">
				<input  id="conPartyThreeVotes" type="text" placeholder="Candidate" ng-model="constituency.conPartyThreeCandidate">
		</div>
		<div class="field four wide">
				<input  id="conPartyFourVotes" type="text" placeholder="Candidate" ng-model="constituency.conPartyFourCandidate">
		</div>
	</div>
	<br />
	<div class="fields sixteen wide column">
		<div class="field four wide">
			<label>EU Ref Leave %</label>
				<input  id="conEULeave" type="text" placeholder="EU Remain Percentage" ng-model="constituency.euremain">
		</div>
		<div class="field four wide">
			<label>EU Ref Remain %</label>
				<input  id="conEURemain" type="text" placeholder="EU Leave Percentage" ng-model="constituency.euleave">
		</div>
		<div class="field four wide">
			<label>Show EU Pie Chart</label>
				<checkbox ng-model="constituency.showEURef" size="large" style="margin-bottom:10px;" type="toggle">Show EU Ref</checkbox>
		</div>

	</div>
	</div>

	<div class="ui form segment">
		<h2>Get Searching</h2>
		<div class="sixteen wide column">
			<form role="form">
					<div class="form-group">
					  <input type="text" class="form-control input-lg" id="consearch" placeholder="Type constituency name here...">
					</div>
			</form>
		</div>
	</div>

	<div class="ui form segment">
		<div id="constituencyresults">Please search using the bar above</div>
    </div>


</div>
<script>
	$(window).load(function(){
			$('#consearch').keyup(function(){
				var searchField = $('#consearch').val();
				var regex = new RegExp(searchField, "i");
				var output = '<div class="four wide column">';
				var count = 1;
				$.getJSON('/data/data_dump.json', function(data) {
				  $.each(data, function(key, val){
					if ((val.Const_Name.search(regex) != -1)) {
					  output += '<div class="sixteen wide field" style="clear: both">';
					  output += '<button style="float:left;" style="vertical-align:middle" class="ui purple button" onClick="myFunction(' + val.Constituency_ID + ')">Get Data</button>';
					  output += '<h2 style="color:' +val.Color + '">' + val.Const_Name + ' - ' + val.Winner15 + ' - ' + val.Constituency_ID + '&nbsp; </h2></div>';
					  count++;
					}
				  });
				  output += '</div>';
				  $('#constituencyresults').html(output);
				}); 
			});
		  });
		  
function myFunction(conID) {
    document.getElementById("conID").value = conID;
}	    
</script>