* {
  -webkit-box-sizing: border-box;
  box-sizing:border-box;                                   /* This sets all elements to be the actual set dimensions, disregarding padding and borders */
  webkit-backface-visibility: hidden;                     /* Hide the backface of elements - usuefull for 3d effects */
  -webkit-transition: translate3d(0,0,0);                  /* Turns on hardware acceleration - not known to be of benefit in CCG, but won't hurt */
}

body {
    padding: 36px 64px 36px 64px; /* Safe area */
    font-family: 'Ubuntu Condensed', sans-serif;
    background:transparent;                          /* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
    overflow:hidden;                                 /* Hide any overflowing elements - to disable scollbars */
    -webkit-font-smoothing:antialiased !important;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
}

@-webkit-keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

h1, h2, h3, h4 {
    margin:0;
    padding:0;
}

.large {
    top: -13px;
    font-size: 40px !important;
}


/**************************************************/
/*              [Party Colors]                    */
/**************************************************/

.ANNI { 
		background-color: #D26FBC; 
}
.APNI { 
	background-color: #CDAF2D; 
}
.BNP { 
	background-color: #9094C8; 
}
.CEID { 
	background-color: #0575C9; 
}
.CON { 
	background-color: #0575C9; 
}
.CPA { 
	background-color: #CC3399; 
}
.DRh { 
	background-color: #FE8300; 
}
.DUP { 
	background-color: #C0153D; 
}
.ED { 
	background-color: #B20A06; 
}
.Eraill { 
	background-color: #999999; 
}
.GRDd { 
	background-color: #78C31E; 
}
.GRN { 
	background-color: #78C31E; 
}
.HUNG { 
	background-color: #646464; 
}
.ICHC { 
	background-color: #FF0078; 
}
.IND { 
	background-color: #D26FBC; 
}
.LAB { 
	background-color: #ED1E0E; 
}
.LD { 
	background-color: #FE8300; 
}
.LIB { 
	background-color: #FEAE14; 
}
.LLAF { 
	background-color: #ED1E0E; 
}
.MK { 
	background-color: #A09B1C; 
}
.NHA { 
	background-color: #1554B6; 
}
.NI21 { 
	background-color: #009FBD; 
}
.NOC { 
	background-color: #646464; 
}
.OTH { 
	background-color: #999999; 
}
.PC { 
	background-color: #4E9F2F; 
}
.PUP { 
	background-color: #000B66; 
}
.PV { 
	background-color: #028948; 
}
.RA { 
	background-color: #00B0AC; 
}
.RES { 
	background-color: #31B56A; 
}
.SDLP { 
	background-color: #65A966; 
}
.SF { 
	background-color: #00623F; 
}
.SLP { 
	background-color: #FF5B00; 
}
.SNP { 
	background-color: #EBC31C; 
}
.SPE { 
	background-color: #0575C9; 
}
.SSP { 
	background-color: #990066; 
}
.TUSC { 
	background-color: #6C0000; 
}
.TUV { 
	background-color: #6DCAD2; 
}
.UKIP { 
	background-color: #712F87; 
}
.UUP { 
	background-color: #6AB1E6; 
}
.YF { 
	background-color: #00B8FD; 
}


/**************************************************/
/*              [Layout]                          */
/**************************************************/
.left{
    position: absolute;
    left: 64px;
}

.right {
    position: absolute;
    right: 64px;
    text-align: right;
}

.bottom {
    bottom: 36px;
}

.fullwidth {
	width: 1152px;
	}

.top {
    top: 36px;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.wrapper {
    overflow: hidden;
}

.clearfix:after {
   content:  ; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.row:after {
  display: table;
  content:  ;
}

.row:after {
  clear: both;
}
/**************************************************/
/*              [Lower Third]                     */
/**************************************************/

.lowerthird {
    min-width: 20%;
    border-radius: 5px;
    background-clip: padding-box;
}

.lowerthird h1 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    padding: 5px 8px;
    background-color: #a11a1e;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	border-top-right-radius: 5px;
	border-left:3px solid white;
}

.lowerthird h2 {
    color: #111;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 8px;
	border-left:3px solid white;
    background-color: #fff;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.lowerthird.bottom.fullwidth {
    position: absolute;
    left:64px;
} 

/**************************************************/
/*              [Live Bug]                        */
/**************************************************/
.bug {
    display:inline;
    white-space: nowrap;
    clear:none;
    background-clip: padding-box;
    
}

.bug h1 {
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    float: left;
    padding: 3px 10px;
    margin-right: 3px;
    border-left:3px solid white;
    background-color: #a11a1e;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.black {
    background-color: #1f1a34 !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.white {	
	background-color: #fff !important;
	color: #000 !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
/**************************************************/
/*              [Logo]                            */
/**************************************************/

.logo {
    opacity: 0.5;
    top: 25px;
}

.logo.toggle.ng-leave,
.logo.toggle.ng-hide-add,
.logo.toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 0.5;
}

/**************************************************/
/*              [Total Score]                     */
/**************************************************/

.total-score {
    color: #fff;
    bottom: 36px;
    position: absolute;
    margin: 0 auto;
}

.party-score, .party-score-small {
 	padding-left: 6px;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	padding-right: 6px;
    border-left:3px solid white;
    border-top-right-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.party-name {
	width: 70px;
	display: block;
	font-size: 24px;
	text-align: left !important;
	float: left;
}

.party-score {
	min-width: 50px;
	min-height: 30px;
	font-size: 24px;
}

.party-score-small {
	width: 40px;
}

.party-score .seats {
	font-weight: 600;
	float: right;	
}

.party-score .seatschange {
	font-weight: 300;
	text-align: center !important;	
	font-size: 18px;
}

.total-score .subtitle h1 {
	min-height: 28px;
}

.total-score h1 {
 	padding-left: 6px;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	padding-right: 6px;
 	float:left;
    font-size: 16px;
    line-height: 22px;
    border-left:3px solid white;
	background-color: #fff !important;
	color: #1f1a34 !important;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.leftLogo, .rightLogo {
    height: 150px;
    width: 150px;
    z-index: 100;
    bottom: 30px;
}

.leftLogo {
	position: absolute;
	left: 300px;
}

.rightLogo {
	position: absolute;
	right: 300px;

}

/**************************************************/
/*              [Constituency info]               */
/**************************************************/

#constituencyresults h2 {
	margin-bottom: 0px !important;
}

.constituencyoverview {
    min-width: 20%;
    min-height: 38px;
    height: 250px;
    width: 40%;
    border-radius: 5px;
    background-clip: padding-box;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 20px;
    }

.constituencyoverview h1 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    background-color: #a11a1e;
    min-height: 38px;
    padding: 5px 8px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	border-top-right-radius: 5px;
	border-left:3px solid white;
}

.constituencyoverview .majority {
	padding: 5px 8px;
}

.constituencyoverview .turnout {
	padding: 5px 8px;
}

.constituencyoverview .declaretime {
	padding: 5px 8px;
}

.constituencyoverview .euresults {
	padding: 5px 8px;
}

.constituencyoverview h2 {
    color: #000;
    font-size: 18px;
    padding: 5px 8px;
	border-left:3px solid white;
    background-color: #fff;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 5px;
    margin-right: 3px;
}

.constituencyoverview .party-breakdown h2.partyname {
	color: #fff;
	margin-right: 2px;
	text-transform: uppercase;
}

.eurefinfo {
	width:25%; 
	float:right;
}

#eupiechart {
	float:right;
}

.eupietitle {
	color:#FFF; 
	text-align:center; 
	margin-top:10px; 
	margin-bottom:10px;
}

.constmpname, .party-breakdown {
	width:75%
}

.constcandidatename {
	float:left; 
	width:65%;
}

.constpartyname {
	float:left; 
	width:15%;
}

.constvotes {
	float:right; 
	width:20%;
}

.constturnout {
	float:left; 
	width:48%;
{	

.constmajority {
	float:right;
	width:48%;
}

#eupiechart {
	font-weight: bold;
	float:right;
}


/*
 *===================================
 *         Grid
 *===================================
 */
 .grid {
    width: 650px;
    text-align: center;
    background-clip: padding-box;
  }
    .grid h1 {
        color:  #a11a1e;
        font-size: 32px;
        font-weight: 600;
        padding: 5px;
        background-color: #fff;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.04) 51%, rgba(0, 0, 0, 0.02));
   		border-top-right-radius: 5px;
    }

    .grid .gridleft, .grid .gridright {
        float: left;
        line-height: 32px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        font-size: 22px;
    }

    .grid .gridleft {
        padding-left: 10px;
        text-align: left;
        background-color: #a11a1e;
        color: #fff;
        width: 80%;
        border-left: 3px solid white;
    }

    .grid .gridright {
        width: 20%;
        border-left: 3px solid #fff;
        background-color: #a11a1e;
        color: #fff;
    }

    .grid .row {
        color: #000;
        border-top: 3px solid #fff;
    }

    .grid .row:last-child {
        margin-bottom: 5px;
        border-bottom-left-radius: 5px;
    }