* {
  -webkit-box-sizing: border-box;
  box-sizing:border-box;                                   /* This sets all elements to be the actual set dimensions, disregarding padding and borders */
  webkit-backface-visibility: hidden;                     /* Hide the backface of elements - usuefull for 3d effects */
  -webkit-transition: translate3d(0,0,0);                  /* Turns on hardware acceleration - not known to be of benefit in CCG, but won't hurt */
}

body {
    padding: 50px; /* Safe area */
    font-family: 'Open Sans', sans-serif;
    background:transparent;                          /* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
    overflow:hidden;                                 /* Hide any overflowing elements - to disable scollbars */
    -webkit-font-smoothing:antialiased !important;
}


@-webkit-keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

h1, h2, h3, h4 {
    margin:0;
    padding:0;
}

.large {
    top: -13px;
    font-size: 40px !important;
}


/**************************************************/
/*              [Party Colors]                    */
/**************************************************/

.ANNI { 
		background-color: #D26FBC; 
}
.APNI { 
	background-color: #CDAF2D; 
}
.BNP { 
	background-color: #9094C8; 
}
.CEID { 
	background-color: #0575C9; 
}
.CON { 
	background-color: #0575C9; 
}
.CPA { 
	background-color: #CC3399; 
}
.DRh { 
	background-color: #FE8300; 
}
.DUP { 
	background-color: #C0153D; 
}
.ED { 
	background-color: #B20A06; 
}
.Eraill { 
	background-color: #999999; 
}
.GRDd { 
	background-color: #78C31E; 
}
.GRN { 
	background-color: #78C31E; 
}
.HUNG { 
	background-color: #646464; 
}
.ICHC { 
	background-color: #FF0078; 
}
.IND { 
	background-color: #D26FBC; 
}
.LAB { 
	background-color: #ED1E0E; 
}
.LD { 
	background-color: #FE8300; 
}
.LIB { 
	background-color: #FEAE14; 
}
.LLAF { 
	background-color: #ED1E0E; 
}
.MK { 
	background-color: #A09B1C; 
}
.NHA { 
	background-color: #1554B6; 
}
.NI21 { 
	background-color: #009FBD; 
}
.NOC { 
	background-color: #646464; 
}
.OTH { 
	background-color: #999999; 
}
.PC { 
	background-color: #4E9F2F; 
}
.PUP { 
	background-color: #000B66; 
}
.PV { 
	background-color: #028948; 
}
.RA { 
	background-color: #00B0AC; 
}
.RES { 
	background-color: #31B56A; 
}
.SDLP { 
	background-color: #65A966; 
}
.SF { 
	background-color: #00623F; 
}
.SLP { 
	background-color: #FF5B00; 
}
.SNP { 
	background-color: #EBC31C; 
}
.SPE { 
	background-color: #0575C9; 
}
.SSP { 
	background-color: #990066; 
}
.TUSC { 
	background-color: #6C0000; 
}
.TUV { 
	background-color: #6DCAD2; 
}
.UKIP { 
	background-color: #712F87; 
}
.UUP { 
	background-color: #6AB1E6; 
}
.YF { 
	background-color: #00B8FD; 
}


/**************************************************/
/*              [Layout]                          */
/**************************************************/
.left{
    position: absolute;
    left: 50px;
}

.right {
    position: absolute;
    right: 50px;
    text-align: right;
}

.bottom {
    bottom: 50px;
}

.fullwidth {
	width: 1180px;
	}

.top {
    top: 50px;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.wrapper {
    overflow: hidden;
}

.clearfix:after {
   content:  ; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.row:after {
  display: table;
  content:  ;
}

.row:after {
  clear: both;
}
/**************************************************/
/*              [Lower Third]                     */
/**************************************************/

.lowerthird {
    min-width: 20%;
    border-radius: 5px;
    background-clip: padding-box;
}

.lowerthird h1 {
    color: #fff;
    font-size: 40px;
    font-size: 2.5vw;
    font-weight: normal;
    padding: 5px 8px;
    background-color: #BC204B;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.lowerthird h2 {
    color: #fff;
    font-size: 35px;
    font-size: 2vw;
    font-weight: normal;
    padding: 5px 8px;

    background-color: #1f1a34;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.lowerthird.bottom.fullwidth {
    position: absolute;
    left: 50px;
} 

/**************************************************/
/*              [Live Bug]                        */
/**************************************************/
.bug {
    display:inline;
    white-space: nowrap;
    clear:none;
    background-clip: padding-box;
}

.bug h1 {
    color: #fff;
    border-top-right-radius: 5px;
    font-size: 30px;
    font-size: 1.55vw;
    line-height: 1.8vw;
    font-weight: normal;
    float: left;
    padding: 3px 10px;
    margin-right: 0px;
    border-left:3px solid white;
    background-color: #BC204B;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.black {
    background-color: #1f1a34 !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.white {	
	background-color: #eee !important;
	color: #000 !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
/**************************************************/
/*              [Logo]                            */
/**************************************************/

.logo {
    opacity: 0.5;
    top: 40px;
}

.logo.toggle.ng-leave,
.logo.toggle.ng-hide-add,
.logo.toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 0.5;
}


/**************************************************/
/*              [Total Score]                     */
/**************************************************/

.total-score h1 {
    text-transform: uppercase;
}

.total-score {
    color: #fff;
    bottom: 50px;
    position: absolute;
    margin: 0 auto;
}

.party-score {
 	width: 130px;
 	padding-left: 6px;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	padding-right: 6px;
    font-size: 24px;
    border-right:3px solid white;
    border-top-right-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.party-score .seats {
	font-weight: 600;
	float: right;	
}


.leftLogo, .rightLogo {
    height: 150px;
    width: 150px;
    z-index: 100;
    bottom: 30px;
}

.leftLogo {
	position: absolute;
	left: 300px;
}

.rightLogo {
	position: absolute;
	right: 300px;

}

/**************************************************/
/*              [Football Score]                  */
/**************************************************/

.football {
  width: 30%;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 30px;
  font-size: 1.8vw;
  text-align: center;
}

.football-score h1 {
    font-size: 18px;
    padding: 6px;
    padding-left: 58px !important;
    padding-right: 44px !important;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.footballtop h1 {
	color: #000;
	border-bottom: 3px solid white;
	background-color: #eee !important;
}

.footballbottom h1 {
	color: #fff;
	border-top: 3px solid white;
	background-color: #1f1a34 !important;
}

.football .clock, .football .score.lanc, .football .score.york {
  padding: 3px;
  float: left;
}

.football .clock {
  background-color: #eee;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  width: 24%;
}

.football .extratime {
  background-color: #bc204b;;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  width: 12%;
  padding: 3px;
  margin-left: 23px; 
}

.football .score.lanc {
  width: 38%;
  color: #fff;
  background-color: #cd1d18;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.football .score.lanc p {
    float: right;
}

.football .score.york {
  width: 38%;
  color: #000;
  background-color: #efbb39;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

/*
 *===================================
 *         Grid
 *===================================
 */
 .grid {

    width: 650px;
    text-align: center;
    background-clip: padding-box;
  }
    .grid h1 {
        color:  #ffffff;
        font-size: 40px;
        font-size: 2.5vw;
        font-weight: normal;
        padding: 5px;
        background-color: #BC204B;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    }

    .grid .gridleft, .grid .gridright {
        float: left;
        line-height: 40px;
        background-color: #1f1a34;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        font-size: 25px;
    }

    .grid .gridleft {
        padding-left: 10px;
        text-align: left;
        width: 80%;
    }

    .grid .gridright {
        width: 20%;
        border-left: 3px solid #fff;
    }

    .grid .row {
        color: #fff;
        border-top: 3px solid #fff;
    }

    .grid .row:last-child {
        margin-bottom: 5px;
    }